
//$fa-font-path: '~fontawesome-free/webfonts';

//@import "@fontawesome/fontawesome-free/css/all.css";
//@import "fontawesome-free/css/all.css";


html {
  background: gray;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  font-weight: normal;

  -webkit-overflow-scrolling: auto; /* Stops scrolling immediately */
}

body {
  background: white;
  min-height: 100vh;

  -webkit-overflow-scrolling: auto; /* Stops scrolling immediately */
}

* {
  box-sizing: border-box;
}


ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  //color: #42b983;
}

i {
  vertical-align: initial;
}

@mixin max-screen($break-point) {
  @media screen and (max-width: $break-point) {
    @content;
  }
}

@mixin min-screen($break-point) {
  @media screen and (min-width: $break-point) {
    @content;
  }
}

@mixin screen($break-point-min, $break-point-max) {
  @media screen and (min-width: $break-point-min) and (max-width: $break-point-max) {
    @content;
  }
}

/*
.pagelayout-outer {
  position: relative;
}

// Left Column <-> Main
.pagelayout-l {
  height: 100vh;
  padding-top: 2px;
  //background-color: yellow;
  position: relative;
  overflow: auto;
}

// Right Column <-> Below
.pagelayout-r {
  height: 100vh;
  padding: 0 20px;
  position: relative;
  overflow: auto;
}
*/

/* PC Screen
@media screen and (min-width:721px) {

.pagelayout-outer {
  display: flex;
  justify-content: space-evenly;
}
.pagelayout-l {
  width: 50%;
}
.pagelayout-r {
  width: 50%;
  padding-top: 90px;//16px;
  border-left: 1px solid #f0f0f0;
  background-color: #d1d7e0;//#f8f9fb;//#fafafd;
}

.pagelayout-dark .pagelayout-r {
  background-color: #b8c0ce;
}

.pagelayout-editorFrame {
  padding: 0 0;
}


.mobile-toggle-btn-frame {
  display: none;
}

}
----------- */

/* Smartphone portrate
@media screen and (min-width:0px) and (max-width:720px) {

.pagelayout-outer {
  display: block;
  overflow: hidden;
}
.pagelayout-l {
  width: 100%;
}
.pagelayout-r {
  z-index: 200;
  position: absolute; top: 100vh; left: 0;
  width: 100%;
  transition: top 0.5s;
  background-color: rgba(255,255,255,0.8)
}

.pagelayout-editorFrame {
  height: calc(100% - 180px);
  margin-top: 80px;
  padding: 0 0;
  background-color: transparent;
  border-bottom: 1px solid lightgray;
  overflow: auto;
  // 親要素にスクロールが伝わらないようにする
  overscroll-behavior: contain;
}

.raise {
  top: 0;
  transition: top 0.5s;
  height: 100vh;
}

.mobile-toggle-btn-frame {
  z-index: 210;
  position: absolute;
  bottom: 34px;
  left: 50%;
  width: 300px;
  margin-left: -150px;
  transition: opacity,bottom 0.3s;
}
.mobile-toggle-btn-frame > div {
  width: 90%;
}
.mobile-toggle-btn-frame.btnAction {
  opacity: 0;
  bottom: -40px;
  transition: opacity,bottom 0.3s;
}

}
-------- */

.pagelayout-navi {
  z-index: 210;
  position: absolute;
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 68px;
  vertical-align: middle;
  line-height: 68px;
}

.vision-outer {
  position: absolute; top: 0; left: 0;
  width: 100%;
  height: 100%;
  border: 0px solid black;
  //background-color: lightgray;
}

/* ------------------------------------- */

/* ----- */

.naviframe {
  display: flex;
  justify-content: space-evenly;
  padding: 0 20px;
  height: 68px;
}
/*
.naviframe-gray {
  background-color: #fafafd;
  box-shadow: 0 -2px 0 0 #a7a7a72e inset;
}
*/
.naviframe-white {
  background-color: #fff;
  box-shadow: 0 -2px 0 0 #a7a7a72e inset;
}
.naviframe-left {
  //flex: 3;
  text-align: left;
}
.naviframe-right {
  flex: 2;
  text-align: right;

  font-weight: 500;
  font-size: 1.2rem;
}

.my-title {
  font-family: "helvetica Neue";
  font-weight: 500;
  font-size: 1.2rem;
}
.pagelayout-dark .my-title {
  color: white;
}
.my-title.my-title-pale {
  color: gray;
}
.my-title.my-title-black {
  color: #454f63;
}

/* ----- */

$commonBgColorPale: #e7effb;//#d3e1ff;//#fafafd;
$commonBgColorStandard: #7ca3e0;//#d1d9ea;

$commonBorderColorPale: #d8d9e4;

.my-backColor1 {
  background-color: $commonBgColorPale;
}
.my-backColor2 {
  background-color: $commonBgColorStandard;//#656565;//#888888;
  //color: white;
}
.my-maskColor {
  background-color: $commonBgColorPale;//#fbfbfc;
}

.my-container {
  padding: 0 12px;
  text-align: center;
}
.my-horizontalSpacer {
  height: 30px;
}
.my-horizontalSpacer.half {
  height: 15px;
}
.my-horizontalSpacer.mini {
  height: 8px;
}
.my-horizontalSpacer.micro {
  height: 15px;
}
.my-horizontalSpacer.large {
  height: 45px;
}
.my-horizontalSpacer.x2 {
  height: 60px;
}

.my-bordered {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 6px;
}

.my-paramList {
  input.dis {
    background-color: rgba(234, 234, 234, 0.5);
  }
  input[type="range"] {
    width: 50%;
  }
  .afterfield {
    margin-left: 3px;
    font-weight: 100;
  }
  .row {
    display: flex;
    margin: 14px auto;
  }
  .row > * {
    display: block;
    flex: 5;
    text-align: left;
  }
  .row > *:first-child {
    flex: 2;
    text-align: right;
    padding: 0 10px 0 0;
  }
}
.my-commonFieldTable {
  min-width: 270px;
  margin: auto;
  tr {
    height: 44px;
  }
  td:first-child {
    text-align: right;
  }
  td:last-child {
    text-align: left;
  }
}

.my-btnWideFit {
  width: 90%;
  max-width: 200px;
}
.my-roundBtn {
  width: 34px;
  padding: 0;
  border-radius: 17px;
}
.my-mOverBlue:hover {
  box-shadow: 0 0 4px blue;
}
.my-selectedItem {
  box-shadow: 0 0 4px blue;
}

/* ----- */

span.my-modalFooterStandardContent {
  line-height: 106px;

  // Button
  a {
    min-width: 120px;
    margin: 0 12px;
  }
}
@media screen and (min-width:0px) and (max-width:400px) {
  span.my-modalFooterStandardContent a {
    min-width: 80px;
    margin: 0 8px;
  }
}

/* ----- */

$bgcol1: #ffffff;
$bgcol2: #eee;//#fbfbfb;
.bg-pattern-check {
  background-color: $bgcol1;
  background-image:
    linear-gradient(45deg, $bgcol2 25%, transparent 25%, transparent 75%, $bgcol2 75%, $bgcol2),
    linear-gradient(45deg, $bgcol2 25%, transparent 25%, transparent 75%, $bgcol2 75%, $bgcol2);
  background-position: 0 0, 25px 25px;
  background-size: 50px 50px;
}

$bgcol3: #252629;
$bgcol4: #17181b;
.pagelayout-dark .bg-pattern-check {
  background-color: $bgcol3;
  background-image:
    linear-gradient(45deg, $bgcol4 25%, transparent 25%, transparent 75%, $bgcol4 75%, $bgcol4),
    linear-gradient(45deg, $bgcol4 25%, transparent 25%, transparent 75%, $bgcol4 75%, $bgcol4);
  background-position: 0 0, 25px 25px;
  background-size: 50px 50px;
}


/*
*/

.doc-page {
  color: #4a5a69;

  h3 {
  margin: 6px auto 4px auto;
  }
  h2 {
    margin: 30px 0 10px 0;
  }
}

.doc-fullWideSection {
  padding: 30px 0;
}



.doc-content {
  text-align: left;
  padding: 0 12px;
  margin: 20px auto auto auto;
  // 大画面
  max-width: 850px;

  p {
    font-size: 0.85em;
    padding: 0 3%;
  }
  @media screen and (min-width:601px) {
    p {
      font-size: 0.95em;
      letter-spacing: 0.08em;
    }
  }
}



.doc-toolIcons {
  width: 100%; margin: 20px 0;
  display: flex;
  justify-content: center;

   > * {
    width: 100px;
    height: 100px;
    margin: 0 10px;
  }
  > i {
    text-align: center;
    line-height: 100px;
  }
  .doc-grayIconColor {
    color: #b3bac5 !important;
  }
}

$table-headerColor: #f1f5fb;
$table-cellColor: #fdfeff;
.doc-normalTable {
  border-collapse: collapse;
  border: 1px #ddd solid;
  background-color: $table-cellColor;
  tr {

  }
  td, th {
    padding: 12px;
    border: 1px $commonBorderColorPale solid;
  }
  th {
    background-color: $table-headerColor;
    color: #9ba8b7;
  }
  td:first-child {
    max-width: 40%;
    text-align: center;
  }
  @media screen and (min-width:0px) and (max-width:400px) {
    td:first-child {
      zoom: 0.5;
    }
  }
  p {
    font-size: 0.85em;
    padding: 0;
  }
}

.doc-pencilLine {
  margin: 6px auto 4px auto;
  color: #76899e;
  line-height: 25px;

  span {
    display: inline;
    font-size: 1.2rem;
    margin: 0 0 0 6px;
  }
  i {
    font-size: 25px;
    color: #0973fa;

    background-image: linear-gradient(45deg, #0973fa, #598ed3);
    color:transparent;
    -webkit-background-clip: text;
    background-clip: text;
  }
}


/*
*
* docnavi
*
*/

$breakpoint-docnavi: 720px;

.doc-logoType {
  font-family: "Helvetica Neue";
  font-weight: 600;
  display: block;
  font-size: 22px;
  color: white;//#546778;
  padding: 0px;
}
.docnavi-topHead {
  position: absolute; top: 0; left: 0;
  background-color: transparent;
  display: flex;
  justify-content: space-around;
  width: 100%;
  z-index: 100;//fa-stackがmenu背景カバーの手前にきてしまうので
  //border-bottom: 1px solid #ddd;

  .docnavi-topHeadBottom {
    position: absolute; bottom: 0; right: 0;
    height: 2px; width: 90vw;
      background-image: linear-gradient(270deg, #2b79d2, #083c7d, rgba(0,0,0,0));
  }
}


.docnavi-leftBlock {
  display: flex; justify-content: center;
  text-align: left;
  width: 200px; height: 76px; line-height: 60px;
  padding: 8px;
  margin: 0 auto 0 0;

  a {
    height: 60px;
    margin: 0;
  }
  img {
    width: 60px;
    height: 60px;
    padding: 8px;
  }
  span {
    height: 60px;
    margin: 0 auto 0 2px;
    /*text-decoration-line: none;*/
  }
}


.docnavi-rightBlock {
  position: relative;
  text-align: right;
  width: calc(100% - 200px);
  line-height: 76px;
  /*background: #fbfbfe;*/

  a {
    text-decoration: none;
    color: #acc3dc;//unset;
    font-size: 1.1rem;
    cursor: pointer;
  }
  .docnavi-signUpLink {
    color: white;
    font-weight: 600;
  }
  ul {
    margin: 0;
    padding: 0 20px;
  }

  .docnavi-list1 {
    float: left;
  }
  .docnavi-list2 {
    float: right;
  }
  li {
    float: left;
  }
  .menuBtnBox {
    display: none;
  }

  @include max-screen($breakpoint-docnavi) {
    $listH: 440px - 20px;
    $listBtm: -440px;
    .menuBtnBox {
      margin: auto 20px;
      display: block;
    }
    .docnavi-listContainer {
      //display: none;
      position: absolute; left: 100%; bottom: $listBtm;
      transition: left 0.3s;
      width: calc(100vw - 20px); height: $listH;

      background-color: white;//rgba(255,255,255,0.94);
      border: 10px solid transparent;//#dbe1ec;
      margin: 10px;
      border-radius: 24px;
    }
    .docnavi-listContainer.open {
      display: block;

      //bottom: -400px;
      left: -200px;
      transition: left 0.5s;
    }
    $itemH: 60px;
    .docnavi-list1, .docnavi-list2 {
      float: none;
      line-height: $itemH;
      margin: 28px 20px;
    }
    li {
      width: 100%; height: $itemH;
      float: none;
      margin: 0;
      text-align: left;
      border-bottom: 1px solid #ddd;
    }
    a {
      display: block;
      width: 100%; height: $itemH;
      //line-height: $itemH;
      padding: 0 0 0 20px;
      //color: gray;
      font-weight: 600;
    }
    .docnavi-signUpLink {
      color: #8aa1e6;
      text-shadow: 0 0 2px #0095ff;
    }
    a:hover {
      color: white;
      background-color: $commonBgColorPale;
    }
  }
}

.docnavi-cover {
  display: none;
  position: fixed; top: 0; left: 0;
  width: 100vw; height: 100vh;
  /*
  filter: blur(5px);
  */
  background: rgba(43, 66, 93, 0.74);
  backdrop-filter: contrast(4) blur(10px);
}

@include max-screen($breakpoint-docnavi) {
  .docnavi-cover.open {
    display: block;
  }
}

//@media screen and (min-width:0px) and (max-width:720px) {
//  .docnavi-cover.open {
//    display: block;
//  }
//}

/*
*/
.doc-topback-texts {
  max-width: 72vw;
  width: 500px;
  text-align: left;
  margin: 1.5em;
  color: white;
}
.doc-topback-texts h1 {
  font-size: 3rem;
  font-size: calc(1.718em + 2.3vw);
  line-height: 1.2;
  color: rgba(255,255,255,0.95);;
  /*
  background-image: linear-gradient(315deg, #2b79d2, #083c7d);
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;
  */
}
.doc-topback-texts p {
  color: #ebf2f9;
  font-weight: 600;
  text-shadow: 0 0 3px #29548a;
}


